$main-red: rgb(201, 7, 7);
$hover-red: rgb(139, 12, 12);
$red-gradient: linear-gradient(90deg, rgba(153, 4, 4, 1) 0%, rgba(182, 35, 35, 1) 44%, rgba(198, 26, 26, 1) 100%);
$gray-container: rgb(247, 247, 247);
$content-width: 60%;
$button-font-size: 1.2rem;
$uppercase-selectors: h1, h2;
$banner-images: (
  movil: "#banner-movil",
  standard: "#banner-standard"
);


@function add-width($percentage) {
    @return $content-width + $percentage;
}

@function get-hover-color($color) {
    @if (lightness($color) > 50) {
        @return darken($color, 30%);
    }

    @else {
        @return lighten($color, 10%);
    }
}

@mixin text-style($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

@mixin container-style($margin-top: 0, $bg-color : white) {
    width: $content-width;
    margin-top: $margin-top;
    background-color: $bg-color;
}

@mixin grid-3-columns() {
    display: grid;
    column-gap: 3rem;
    row-gap: 3.5rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 30px;
    text-align: center;

    @media (max-width:1300px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }

}

%shadow{
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.37);
}

