$main-red: rgb(201, 7, 7);
$hover-red: rgb(139, 12, 12);
$red-gradient: linear-gradient(90deg, rgba(153, 4, 4, 1) 0%, rgba(182, 35, 35, 1) 44%, rgba(198, 26, 26, 1) 100%);
$gray-container: rgb(247, 247, 247);
$content-width: 60%;
$button-font-size: 1.2rem;

body {
    background-color: white;
}

h1,
h2 {
    text-transform: uppercase;
}

.banner {
    width: $content-width;
    margin: auto;
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: white;

    @media (max-width:1300px) {
        width: 80%;
    }

    .banner-text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 50px;



        .banner-text-content {
            h2 {
                font-size: 1.3rem;

                @media (max-width: 768px) {
                    font-size: 1.2rem;
                }
            }

            p {
                font-weight: bold;
                font-size: 1.1rem;

                @media (max-width: 768px) {
                    font-size: 0.9rem;
                }
            }
        }

        button {
            border: none;
            border-radius: 0%;
            background: $red-gradient;
            max-width: 260px;
            height: 50px;
            font-weight: bold;
            font-size: $button-font-size;

            &:hover {
                box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.37);
            }

            @media (max-width: 768px) {
                width: 200px;
                margin-left: 100px;
            }
        }
    }

    .banner-img {
        margin-left: auto;

        #banner-movil {
            display: none;

            @media (max-width: 768px) {
                display: block;
            }
        }

        #banner-standard {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}

header {
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
}

nav {
    width: $content-width;
    margin: auto;
    background-color: white;
    margin-top: 3px;

    .navbar-icon {
        color: $main-red;
        font-weight: bold;
    }

    .collapse {

        margin-left: 0;
        padding-left: 0;
    }

    .navbar-nav {

        width: 100%;
        justify-content: space-between;
        padding-left: 0;

        .nav-link {
            color: $main-red;
            text-transform: uppercase;
            font-size: 0.7rem;

            &:hover {
                color: $hover-red;
            }
        }

        .navbar-left {
            display: flex;

            @media (max-width: 768px) {
                flex-direction: column;
            }

        }

        .navbar-rigth {
            display: flex;

            #sign-in {
                font-weight: bold;
            }

            #english {
                color: black;
            }

            @media (max-width: 968px) {
                flex-direction: column;

                span {
                    display: none;
                }
            }
        }
    }
}

#services {
    width: $content-width;
    margin: auto;
    margin-top: 60px;
    background-color: $gray-container;
    text-align: center;
    padding: 80px 80px;
    transform: skewY(-2deg);

    @media (max-width:1300px) {
        width: 90%;
    }

    .services-content {
        transform: skewY(2deg);
    }

    h1 {
        font-size: 1.6rem;
        font-weight: bold;
    }

    p {
        width: 97%;
        font-size: 1.1rem;
    }


    .services-img-content {
        display: flex;
        justify-content: space-between;
        @media (max-width: 968px) {
            flex-direction: column;
            
            
        }

        .services-title {
            margin-top: 150px;
            margin-left: 85px;
            max-width: 150px;
        }

        #services-movil {
            display: none;

            @media (max-width: 768px) {
                display: block;
            }
        }

        #services-standard{
            @media (max-width: 768px) {
                display: none;;
            }
        }
    }

    button {
        margin-top: 50px;
        color: $main-red;
        font-weight: bold;
        border: none;
        font-size: $button-font-size;

        &:hover {
            background-color: $gray-container;
            box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.37);
        }
    }
}

#products {
    width: $content-width;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    padding: 80px 80px;

    h1 {
        font-size: 1.6rem;
        font-weight: bold;
    }

    .grid-products {

        display: grid;
        column-gap: 3rem;
        row-gap: 3.5rem;
        grid-auto-flow: dense;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        margin-top: 30px;
        text-align: center;


        a {
            text-decoration: none;
            color: $main-red;
            font-weight: bold;

            &:hover {
                color: $hover-red;
                text-decoration: underline;
            }
        }

        @media (max-width:1300px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }

    }
}

footer {
    height: auto;
    color: white;
    background-color: rgb(46, 46, 46);
    padding-left: 200px;

    .contact {
        img {
            width: 25px;
        }

        a {
            &:hover {
                color: rgb(167, 166, 166);
                text-decoration: underline;
            }
        }
    }

    a {
        text-decoration: none;
        color: white;

    }

    .menus {
        a {
            &:hover {
                color: $hover-red;
                text-decoration: underline;
            }
        }
    }
}